<h1>BITTER!!!!!!</h1>

<ul>
  <% @twits.each do |twit| %>
    <li><%= twit.twit %></li>
  <% end %>
</ul>

<h4><%= link_to "WRITE YOUR OWN TWIT!!", new_twit_path, id: "new_link", remote: true %></h4>
